.Container {
    padding: 20px 0;
}

.LocalizationButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(96,189,236,1) 0%, rgba(111,171,242,1) 100%);
    border-radius: var(--component-radius);
    box-shadow: var(--component-shadow);
    padding: 20px;
    font-size: 30px;
    font-weight: 500;
    color: #FFF;
    cursor: pointer;
}

.LocalizationButton.Disabled {
    background: #EEE;
    color: #999;
    cursor: not-allowed;
}
