.Container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(0deg, rgba(96,189,236,1) 0%, rgba(111,171,242,1) 100%);
    width: 130px;
    padding: 20px 10px;
    border-bottom-right-radius: var(--component-radius);
    border-top-right-radius: var(--component-radius);
    color: #FFF;
    box-shadow: var(--component-shadow);
}

.Weekday {
    font-size: 24px;
    font-weight: 500;
}

.Degrees {
    font-size: 50px;
    font-weight: 700;
    padding: 20px 0;
}

.DegreesSmall {
    font-size: 40px;
}

.Icon {
    padding: 5px 0;
}
