.Container {
    margin: 30px 0;
    max-width: 1400px;
}

.RowMarginLeftOverride {
    /* align weather temperature absolute temperature to the border and
        all other app components to weather city */
    margin-left: 35px!important;
}
