.Container {
    padding: 30px 0;
    max-width: 1400px;
    /* overwrite bootstrap margin left auto */
    margin-left: 0!important;
}

.RowMarginLeftOverride {
    /* align weather temperature absolute temperature to the border and
        all other app components to weather city */
    margin-left: 35px!important;
}
